.Menu_container
    display: flex
    padding: 10px
    top: 0px


.Menu_content
    background-color: rgba(7, 237, 7, 0.632)
    display: flex
    flex-direction: row
    padding: 10px
    margin: 10px
    border-radius: 10px
    font-size: 25px


.Menu_left
    display: flex
    flex-direction: row
    flex-grow: 1

.Menu_profile
    color: green
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center
    margin-right: 10px

.Menu_makeBurger
    color: green
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center
    margin: 5px
    