.Menu_container
    display: flex
    padding: 10px
    top: 0px


.Menu_content
    display: flex
    flex-direction: column
    padding: 10px
    margin: 10px
    border-radius: 10px
    font-size: 25px


.Menu_left
    display: flex
    flex-direction: row
    flex-grow: 1
    align-items: center

.Menu_home-image
    width: 40px
    height: 40px
    margin-right: 5px

.Menu_home-link
    display: flex
    align-items:center
    text-decoration: none
    color: rgb(253, 228, 228)
    font-size: 50px
    margin-right: 20px

.Menu_home-link:hover
    color: rgb(0, 0, 0)
    text-shadow: 2px 2px 5px rgba(255, 255, 0, 0.568)

.Menu_profile
    color: green
    display: flex
    flex-direction: row
    align-items: center
    margin-right: 10px

.Menu_makeBurger
    color: green
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center
    margin: 5px
    