@import url('https://fonts.googleapis.com/css2?family=Smokum&family=Syne+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Smokum&family=Syne+Mono&display=swap');



.Menu_container
    display: flex
    margin: 0px
    align-itmes: center
    height: 1000px
    width: 100%

.Menu_content
    display: flex
    flex-direction: row
    font-size: 25px
    @media only screen and (max-width:1000px )
        align-items: center

.Menu_items
    display: flex
    flex-direction: row
    flex-grow: 1
    align-items: center
    margin: 10px
    transition: 0.5s
    @media only screen and (max-width:1000px )
        transition: 0.5s

.Menu_home-link
    display: flex
    align-items:center
    text-decoration: none
    color: rgb(253, 228, 228)
    font-size: 50px
    margin: 10px
    @media only screen and (max-width:1000px )
        width: fit-content
        font-size: 25px
        

.Menu_home-link:hover
    color: rgb(0, 0, 0)
    text-shadow: 2px 2px 5px rgba(255, 255, 0, 0.568)

.Menu_makeBurger-link
    display: flex
    align-items:center
    text-decoration: none
    color: rgb(253, 228, 228)
    font-size: 50px
    margin: 10px
    @media only screen and (max-width:1000px )
        width: fit-content
        font-size: 25px

.Menu_makeBurger-link:hover
    color: rgb(0, 0, 0)
    text-shadow: 2px 2px 5px rgba(255, 255, 0, 0.568)


.Menu_login-signup
    display: flex
    flex-direction: row
    @media only screen and (max-width:1000px )
        align-items: center

.Menu_login-link
    display: flex
    align-items:center
    text-decoration: none
    color: rgb(253, 228, 228)
    font-size: 50px
    margin: 10px
    @media only screen and (max-width:1000px )
        width: fit-content
        font-size: 25px

.Menu_login-link.isActive
    color: rgb(0, 0, 0)
    text-shadow: 2px 2px 5px rgba(255, 255, 0, 0.568)

.Menu_signup-link
    display: flex
    align-items:center
    text-decoration: none
    color: rgb(253, 228, 228)
    font-size: 50px
    margin: 10px
    @media only screen and (max-width:1000px )
        width: fit-content
        font-size: 25px

.Menu_signup-link:hover
    color: rgb(0, 0, 0)
    text-shadow: 2px 2px 5px rgba(255, 255, 0, 0.568)

.Menu_profile
    color: green
    display: flex
    flex-direction: row
    align-items: center

.Menu_profile-link
    display: flex
    align-items:center
    text-decoration: none
    color: rgb(253, 228, 228)
    font-size: 50px
    margin: 10px
    @media only screen and (max-width:1000px )
        width: fit-content
        font-size: 25px

.Menu_profile-link:hover
    color: rgb(0, 0, 0)
    text-shadow: 2px 2px 5px rgba(255, 255, 0, 0.568)

.Menu_makeBurger
    color: green
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center
    margin: 5px
    


.Menu_signout-link
    display: flex
    align-items:center
    background-color: transparent
    border: none
    color: rgb(253, 228, 228)
    font-size: 50px
    margin: 10px
    font-family: 'Smokum', cursive;
    @media only screen and (max-width:1000px )
        width: fit-content
        font-size: 25px    


.Menu_signout-link:hover
    color: rgb(0, 0, 0)
    text-shadow: 2px 2px 5px rgba(255, 255, 0, 0.568)