.Login_container
    display: flex
    flex-direction: column
    width: 400px
    height: 600px
    margin: 100px

.Login_background
    display: flex 
    flex-direction: column
    position: absolute
    background-color: rgb(51, 31, 31)
    filter: blur(4px);
    align-items: center
    height: 600px
    width: 500px
    opacity: 0.5


.Login_forms
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    width: 500px
    height: 100%


.Login_inputs
    display: flex
    flex-direction: row
    justify-content: flex-start
    align-items: flex-end
    margin: 0px
    position: relative
    width: 400px
    height: 60px


.Login_labels
    position: absolute
    display: flex
    height: 30px
    margin: 0px
    margin-left: 5px
    font-size: 20px
    font-family: sans-serif
    align-items: center
    transition: 0.5s

    

.Login_input
    position: absolute
    display: flex
    background: transparent
    width: 400px
    padding: 4px
    border: 0px
    border-bottom: solid 3px black
    outline: none
    height: 30px
    color: black
    transition: 0.5s
    flex-grow: 1

.Login_input:focus + .Login_labels,.Login_input:not([value=""]) + .Login_labels
    color: rgb(183, 159, 1)
    font-size: 20px
    transition: 0.5s
    transform: translateY(-30px) translateX(5px) 

.Login_input:focus + .Login_input,.Login_input:not([value=""]) + .Login_input
    border-bottom: solid 3px black


.Login_button-message
    display: flex
    flex-direction: column
    width: 500px
    height: 100px
    align-items: center
    margin: 10px

.Login_button
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    position: relative
    background-color: brown
    width: 200px
    height: 30px

.Login_message
    display: flex
    margin:10px
    height: 100px
    color: rgb(0, 255, 119)
    text-shadow: 2px 2px 4px #f0e8e8;

.Login_message[value="Login success"] + .Login_message ,.Login_message:not([value="Login success"]) + .Login_message
    color: red

