.Signup_container
    display: flex
    flex-direction: column
    width: 400px
    height: 600px
    margin: 100px

.Signup_background
    display: flex 
    flex-direction: column
    position: absolute
    background-color: rgba(181, 125, 98, 0.34)
    box-shadow: rgba(0, 0, 0, 0.56) 2px 22px 70px 4px;
    height: 600px
    width: 500px
    align-items: center
    border-radius: 15px

.Signup_title
    position: relative


.Signup_forms
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    width: 500px
    height: 100%


.Signup_inputs
    display: flex
    flex-direction: row
    justify-content: flex-start
    align-items: flex-end
    margin: 0px
    position: relative
    width: 400px
    height: 60px


.Signup_labels
    position: absolute
    display: flex
    height: 30px
    margin: 0px
    margin-left: 5px
    font-size: 20px
    font-family: sans-serif
    align-items: center
    transition: 0.5s

    

.Signup_input
    position: absolute
    display: flex
    background: transparent
    width: 400px
    padding: 4px
    border: 0px
    border-bottom: solid 3px black
    outline: none
    height: 30px
    color: black
    transition: 0.5s
    flex-grow: 1

.Signup_input:focus + .Signup_labels,.Signup_input:not([value=""]) + .Signup_labels
    color: rgb(183, 159, 1)
    font-size: 20px
    transition: 0.5s
    transform: translateY(-30px) translateX(5px) 

.Signup_input:focus + .Signup_input,.Signup_input:not([value=""]) + .Signup_input
    border-bottom: solid 3px black


.Signup_button-message
    display: flex
    flex-direction: column
    width: 500px
    align-items: center
    margin: 10px

.Signup_button
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    position: relative
    background-color: rgb(56, 37, 4)
    width: 200px
    height: 50px
    border: none
    font-size: 25px
    color: white
    box-shadow: rgba(0, 0, 0, 0.56) 2px 22px 40px 4px;

.Signup_button:hover
    cursor: pointer


.Signup_message
    display: flex
    margin: 5px
    height: 50px
    color: rgb(0, 255, 119)
    text-shadow: 2px 2px 4px #f0e8e8;

.Signup_message[value="signup success"] + .Signup_message,.Signup_message:not([value="signup success"]) + .Signup_message
    color: red

.Signup_login 
    display: flex
    flex-direction: row
    justify-content: center
    font-size: 25px
    color: white
    position: relative

Link
    color: white