@import url('https://fonts.googleapis.com/css2?family=Smokum&family=Syne+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Smokum&family=Syne+Mono&display=swap');


body 
    margin: 0px
    display: flex
    flex-direction: column
    background-image: url("..\Used_images\burger.jpg")
    background-repeat: no-repeat
    background-size: cover
    font-family: 'Smokum', cursive;
    font-size: 40px
    height: 1000px

.Home_container
    display: flex
    flex-direction: column
    padding: 10px
    margin: 10px
    border-radius: 10px
    font-size: 25px
    width: 100%
    @media only screen and (max-width:700px )
        flex-direction: column
        

.Home_title
    display: flex
    flex-direction: row
    width:70%
    margin: 20px
    align-items: center
    background-color: rgba(181, 125, 98, 0.34)
    box-shadow: rgba(0, 0, 0, 0.56) 2px 22px 70px 4px;
    border-radius: 15px
    padding: 10px
    font-family: sans-serif
    font-weight: bolder
    

.Home_signup
    text-decoration: none
    color: white
    text-shadow: 2px 3px 2px black
    margin-left: 5px
    

.Home_left-side
    display: flex
    flex-direction: column
    width: fit-content
    margin: 0px
    font-family: 'Lobster', cursive;
    

.Home_right-side
    display: flex
    flex-direction: column
    width: 700px


.Home_body
    color: white
    margin: 20px
    width: 80%
    font-size: 25px
    @media only screen and (max-width:700px )
        font-size: 15px