body
    width: 90%
    margin: 0px
    padding: 0px
    @media only screen and (max-width:1000px )
        display: flex
        flex-direction:column


.MakeBurger_container
    display: flex
    flex-direction: column
    padding 100px
    align-items: center
    transition: 0.5s
    margin: 0px
    width: 100%
    @media only screen and (max-width:1000px )
        align-items: center
        justify-content: center
        width: 90%
        height: 90%
        margin: 0px
        transition: 0.5s

.MakeBurger_background
    display: flex
    width: 80%
    height: 900px
    flex-direction: column
    align-items: center
    opacity 0.7
    background-image: url("..\Used_images\bookpage.jpg")
    background-size: cover
    background-position: center
    position: relative
    transition: 0.5s
    @media only screen and (max-width:1000px )
        transition: 0.5s
        background-image: url("..\Used_images\bookpage.jpg")
        padding: 0px
        width: 100%

.MakeBurger_forms-button
    display: flex
    flex-direction: column
    align-items: center
    position: absolute
    width: fit-content
    height: fit-content
    padding 100px
    color: black
    @media only screen and (max-width:1000px )
        transition: 0.5s
        width: 80%
        height: fit-content
        align-items:center 
        padding:0px


.MakeBurger_forms
    display: flex
    flex-direction: row
    width: 100%
    height: fit-content
    padding-left:100px
    padding-right:100px
    color: black
    transition: 0.5s
    justify-content: space-evenly
    @media only screen and (max-width:1000px )
        flex-direction: column
        transition: 0.5s
        width: 100%
        height: 900px
        align-items: center 
        padding: 20px


.MakeBurger_left
    display: flex
    justify-content: center
    flex-direction: column
    width: 300px
    height: 300px
    margin-right: 50px 
    @media only screen and (max-width:1000px )
        margin-right: 0px
        margin-top: 20px
        margin-bottom: 50px
        height: 300px

.MakeBurger_instruction
    display: flex
    flex-direction: row
    font-size: 15px
    font-family: Sans-serif

.MakeBurger_choosables
    display: flex
    flex-direction: row
    width: 260px
    background-image: url("..\Used_images\plank.png")
    padding: 10px
    justify-content: space-between
    align-items: center
    color: white

.MakeBurger_right
    display: flex
    height: fit-content
    width: 400px
    height: 300px
    overflow: auto
    align-items: center
    flex-direction: column
    @media only screen and (max-width: 1000px)
        flex-direction: column
        justify-content: center
        margin-top: 30px
        
    
    
.MakeBurger_bun-top
    display: flex
    flex-direction: row
    background-image: url('..\Used_images\buntop.jpeg')
    background-size: cover
    height: 100px
    width: 300px
    margin-bottom: 2px
    border-top-left-radius: 200px 
    border-top-right-radius: 200px


.MakeBurger_bun-bottom
    display: flex
    flex-direction: row
    height: 40px
    width: 300px
    background-image: url('..\Used_images\bunbottom.jpg')
    background-size: cover
    height: 40px
    border-bottom-left-radius: 20px 
    border-bottom-right-radius: 20px

.MakeBurger_cucumber-container
    display: flex
    flex-direction: row
    width: 300px

.MakeBurger_cucumber
    background-image: url('..\Used_images\cucumber.jpg')
    background-size: cover
    width: 150px
    height: 20px
    border-radius: 15px
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    color: rgb(185, 240, 185)
    margin:0px

.MakeBurger_tomato-container
    display: flex
    flex-direction: row
    width: 300px

.MakeBurger_tomato
    background-image: url('..\Used_images\tomato.jpg')
    width: 200px
    height: 30px
    border-radius: 15px
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    color: rgb(250, 163, 163)

.MakeBurger_cheese
    background-image: url('..\Used_images\cheese.jpg')
    width: 300px
    height: 20px
    border-radius: 15px
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    color: rgb(80, 80, 6)

.MakeBurger_ing-container
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center

.MakeBurger_mapIngredients
    display: flex
    flex-direction: column
    width: 200px
    height: 40px
    align-items: center
    margin: 1px

.MakeBurger_ing-text
    margin: 0px
    font-size: 15px

.MakeBurger_ing-button
    display: flex
    flex-direction: row
    align-items: center

.MakeBurger_remove-butt
    display: flex
    flex-direction: row
    border-radius: 10px
    background-color: pink
    color: red
    align-items: center
    height: 20px

.MakeBurger_apply-button
    width: 200px
    height: 40px
    background-color: green
    

