.UserPage_container
    display: flex
    flex-direction: column
    height: 1000px
    width: 100%
    align-items: center

.UserPage_burgers-list
    display: flex
    width: 80%
    height: 100%
    flex-direction: column
    background-color: blue
    color: white

.UserPage_burgers
    background-color: red

